body {
	position:relative;
}

.container-fluid{
  margin-top: 30px;
}


.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
  margin: 10px 0px 10px 0px;
}

.article-title {
  color: #444444;
}

a {
	color: #6610f2;;
}

a.article-title:hover {
  color: #3B2BA6;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}

.media {
	width: 75%;
}

.multi div {
	float: left;
	padding: 2px ;
	margin: 2px;
}

.user-comment-pict {
  margin: 8px 5px 0px 0px;
}

.commentArea {
  width: 75%;
}



.volumes a {
  color: white;
  font-size: 22px;
}

.volumes a:hover{
  color: #5B42FF;
  font-weight: bold;
}