{% extends "general/base.html" %}
{% load static %}
{% block content %}
<body>
	<div class="volumes">
		<a href="{% url 'post_list' %}">All</a>
		<a href="">Popular</a>
		<a href="{% url 'post_list_new' %}">New</a>
		<a href="{% url 'post_list_recommended' %}">Recommended</a>
	</div> 
{% for post in posts %}
    <article class="media content-section" style="position: relative;">
        <div class="media-body">
            <div class="article-metadata">
                <a class="mr-2" href="#">{{ post.author }}</a>
                <small class="text-muted">{{ post.published_date }}</small>
                <small style="float: right;">Category: {{post.category}}</small>
            </div>
            <h2><a class="article-title" href="#">{{ post.title }}</a></h2>
            {% if post.text %}
                <p class="article-content">{{ post.text }}</p>
            {% endif %}       
            <div>   
            {% if post.image %}
                <p><img src="{{ post.image.url }}" width="150" height="150" alt="image post">
            {% endif %}
            </div>
            <div>
            {% if post.videofile %}
                <video width="260" height="150" controls src="{{ post.videofile.url }}">
            {% endif %}
            </div>
        </div>
        <div class="button-panel" style="position: absolute; bottom: 0; right: 0;">
            <a><img src="{% static 'blog/like.png' %}" style="width: 36px;height: 36px;"/></a>
        </div>

    </article>
    <a href="{% url 'post_details' pk=post.pk %}"><button class="btn btn-outline-dark" >Read more</button></a>
    <a href="{% url 'post_details' pk=post.pk %}"><button class="btn btn-outline-dark" >Comment</button></a>
    
{% endfor %}
</body>
{% endblock content %}