{% extends "general/base.html" %}
{% load static %}
{% block content %}
	<div class="volumes">
		<a href="{% url 'post_list' %}">All</a>
		<a href="{% url 'post_list_popular' %}">Popular</a>
		<a href="{% url 'post_list_new' %}">New</a>
		<a href="{% url 'post_list_recommended' %}">Recommended</a>
	</div> 
{% for post in posts %}
    <article class="media content-section" style="position: relative;">
        <div class="media-body">
            <div class="article-metadata">
                <a class="mr-2" href="#">{{ post.author }}</a>
                <small class="text-muted">{{ post.published_date }}</small>
                <small style="float: right;">Category: {{post.category}}</small>
            </div>
            <h2><a class="article-title" href="{% url 'post_details' pk=post.pk %}">{{ post.title }}</a></h2>
            {% if post.text %}
                <p class="article-content">{{ post.text }}</p>
            {% endif %}       
            <div>   
            {% if post.image %}
                <p><img src="{{ post.image.url }}" width="500px" height="70%" alt="image post"></p>
            {% endif %}
            </div>
            <div>
            {% if post.videofile %}
                <video width="720" height="480" controls src="{{ post.videofile.url }}"></video>
            {% endif %}
            </div>
        </div>
    </article>

    <a href="{% url 'post_details' pk=post.pk %}"><button class="btn btn-outline-dark" >Read more</button></a>
    <a href="{% url 'post_details' pk=post.pk %}"><button class="btn btn-outline-dark" >Comment</button></a>
    
{% endfor %}
{% endblock content %}