{% extends 'general/base.html' %}
{% block content %}
<div class = "container">
    <div class = "row">
        <div class = "col-md-9 col-lg-9">
            <div class="post">
                {% if post.published_date %}
                    <div class="date">
                        <small>{{post.published_date}}<
                    </div>
                {% endif %}
                <img src="{{ post.image.url }}" width="500" height="50%" alt="image post"/>
                <h2>{{ post.title }}</h2>
                <p>{{ post.text|linebreaksbr }}</p>
            </div>
            <hr>
            <a href="{% url 'add_comment_to_post' pk=post.pk %}"><button class="btn btn-outline-dark">Add comment</button></a>
            {% for comment in post.comments.all %}
            {% if user.is_authenticated or comment.approved_comment %}
            <div class="comment">
                <div class="date">
                    {{ comment.created_date }}
                    {% if not comment.approved_comment %}
                        <a class="btn btn-default" href="{% url 'comment_remove' pk=comment.pk %}">
                            <span class="glyphicon glyphicon-remove"></span></a>
                        <a class="btn btn-default" href="{% url 'comment_approve' pk=comment.pk %}">
                            <span class="glyphicon glyphicon-ok"></span></a>
                    {% endif %}
                </div>
                <div class = "comment-section">
                    <h6 style="display: inline;">{{ comment.author }}</h6>
                    <small style="display: inline; margin-left: 10px;"> {{ comment.date_commented }}</small>
                    <div class="comment" style="border-left: 4px solid black; background-color: lightgrey;">
                    <p>{{ comment.text }}</p>
                </div>
            </div>
            </div>
            {% endif %}
        {% empty %}
            <p>No comments yet</p>
        </div>
    </div>
</div>
{% endfor %}
{% endblock %}