{% for post in posts %}
      <article class="media content-section">
        <div class="media-body">
          <div class="article-metadata">
            <small class="text-muted">{{ post.published_date|date:"F d, Y H:m:s" }}</small>
          </div>
          <h2><a class="article-title">"{{ post.title }}"</a></h2>
          {% if post.text %}
          <p class="article-content">{{ post.text }}</p>
          {% endif %}
          {% if post.image %}
          <p class="article-image">
            <img src="{{ post.image.url }}" width="150" height="150" alt="image post">
          </p>
          {% endif %}
          {% if post.videofile %}
          <p class="article-video">
            <video width="320" height="240" controls src="{{ post.videofile.url }}">
          </p>
          {% endif %}
        </div>
      </article>
{% endfor %}