body {
	width:100%;
	height: 100%;

}
main-container{
	width: 100%;
	height: 100%;
}
.navbar-nav > li > .dropdown-menu { 
	background-color: #212529; 
}
.dropdown-item{
	color: #ffffff;
}

.container-people{
  float: left; 
  padding-top: 15px;
  width: 70%;
  background-color:#d7d2cc;
  margin-bottom: 10px;
  margin-top: 10px;
}

#follow, #unfollow{
  float: right; 
  margin-right: 5px
}
.nav-item{
	font-size: 20px;
}

.addthis_inline_share_toolbox {
  padding: 0 0;
  position: fixed;
  left: 0;
  bottom: 0;
}
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #a6a6a6;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: @w;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.main-container {
   width: 100%;
}

.main-header {
    text-align: center;
}

