body {
	width:100%;
	height: 100%;

}
main-container{
	width: 100%;
	height: 100%;
}
.navbar-nav > li > .dropdown-menu { 
	background-color: #212529; 
}
.dropdown-item{
	color: #ffffff;
}

.container-people{
  float: left; 
  padding-top: 15px;
  width: 70%;
  background-color:#d7d2cc;
  margin-bottom: 10px;
  margin-top: 10px;
}

#follow, #unfollow{
  float: right; 
  margin-right: 5px
}
.nav-item{
	font-size: 20px;
}

#lab_social_icon_footer {
  padding: 0 0;
  background-color: #d7d2cc;
  position: fixed;
  height: 50px;
  left: 0;
  bottom: 0;
  width: 100%;
  background: #d7d2cc;
  opacity: 0.6;

}

#lab_social_icon_footer a {
  color: #333;
  float: right;
  opacity: 0.8;
}

#lab_social_icon_footer .social:hover {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
}

#lab_social_icon_footer .social {
  -webkit-transform: scale(0.8);
  /* Browser Variations: */
  
  -moz-transform: scale(0.8);
  -o-transform: scale(0.8);
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
}
/*
    Multicoloured Hover Variations
*/

#lab_social_icon_footer #social-fb:hover {
  color: #3B5998;
}

#lab_social_icon_footer #social-tw:hover {
  color: #4099FF;
}

#lab_social_icon_footer #social-gp:hover {
  color: #d34836;
}

#lab_social_icon_footer #social-em:hover {
  color: #f39c12;
}