 {% load static %}
<!DOCTYPE html>
<html lang="en" enctype="multipart/form-data">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Bootstrap CSS -->
  <link href="https://fonts.googleapis.com/css?family=Indie+Flower&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=B612+Mono&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" 
  integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-latest.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <link rel="stylesheet" type="text/css" href="{% static 'general/main.css' %} " />
  <link rel="stylesheet" type="text/css" href="{% static 'users/main.css' %} "/>
  <link rel="stylesheet" type="text/css" href="{% static 'blog/main.css' %} "/>

  <title>Skill it</title>
</head>
<body style="background-color:#DED3F6; background-image: url('general/get.png')>
  <div container="main-container">
  <!--Navbar -->
  <nav class="navbar navbar-expand-xl" style="height: 80px; background-color: #DED3F6; margin-top: 20px;">
    <a class="navbar-brand" href="{% url 'home' %}" style="font-family: 'Indie Flower', cursive; font-size: 36px;">
      <img id="logo" src="{% static 'general/logo.png' %}" style="width:80px;"/>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown" style="font-family: 'B612 Mono', monospace; font-size: 28px;">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Categories</a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink" style="background-color: #6610f2;">
            {% for category in categories %}
              <a class ="dropdown-item" href="{% url 'category_list' slug=category.title %}" value={{ category.id }}>{{ category.title }}</a>
            {% endfor %}
          </div>
        </li>
        <li class="nav-item" style="font-family: 'B612 Mono', monospace; font-size: 28px;color:white;">
          <a class="nav-link" href="{% url 'people' %}">People</a>
        </li>
        <li class="nav-item">
          <div class="active-purple-3 active-purple-4 mb-4" style="margin-top: 10px; margin-left:10px; width: 260px;">
            <form method = "GET">
              <input class="form-control" type="text" name = "q" placeholder="Search" aria-label="Search" value = "{{ request.GET.q }}">
            </form>
          </div>
        </li>

      </ul>
      <div class="navbar-nav">
        {% if user.is_authenticated %}
          <li class="nav-item dropdown" style="font-family: 'B612 Mono', monospace; font-size: 28px;">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{request.user.username}}</a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink" style="background-color: #6610f2;">
              <a class ="dropdown-item" href="{% url 'profile' %}" style="font-family: 'B612 Mono', monospace;">Profile</a>
              <a class ="dropdown-item" href="{% url 'my_posts' %}" style="font-family: 'B612 Mono', monospace;">My Posts</a>
              <a class ="dropdown-item" href="{% url 'edit_profile'%}" style="font-family: 'B612 Mono', monospace;">Settings</a>
            </div>
          </li>
          <a class="nav-item nav-link" href="{% url 'logout' %}" style="font-family: 'B612 Mono', monospace; font-size: 28px;">Log out</a>
        {% else %}
          <a class="nav-item nav-link" href="{% url 'login' %}" style="font-family: 'B612 Mono', monospace; font-size: 28px; margin-right: 10px;">Log in</a>
          <a class="nav-item nav-link" href="{% url 'register' %}" style="font-family: 'B612 Mono', monospace; font-size: 28px;">Sign up</a>
        {% endif %}
      </div>
    </div>
  </nav>
  <!--/.Navbar -->

  <main role="main" class="container-fluid" style="margin-bottom: 50px;">
    <div class="row">
      <div class="col-md-12 col-lg-12">
        {% if messages %}
            {% for message in messages %}
              <div class = "alert alert-{{ message.tags }}">
                {{ message }}
              </div>
            {% endfor %}
          {% endif %}
          {% block content %}
          {% endblock %}

      </div>
    </div>
  </main>
<!-- Footer -->
            
  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

  <!-- Go to www.addthis.com/dashboard to customize your tools -->


</body>
</html>