{% extends "general/base.html" %}
{% block content %}
  <head>
    <script>
      $(document).ready(function(){
        $("#follow").click(function(){
          $(this).val("Unfollow");
        });
      }); 
    </script>
  </head>
  {%for user in users%}
    {% if request.user != user %}
      <div class="container-people" style="background-color:white">
        <div class="row">
          <div class="col-md-4 col-lg-4">
            <img class="rounded-circle" src="{{ user.profile.image.url }}" alt="UserImage" style="width:70px; height: 70px;">
          </div>
          <div class = "col-md-3 col-lg-3">
            <h3 class="profile-title">{{ user.username }}, {{ user.profile.city}} </h3>
          </div>
          <div class = "col-md-5 col-lg-5">
            {% if request.user.follower %}
              <button class='btn btn-lg btn-light unfollow' style="border: 2px solid #DED3F6;"id="unfollow" type="submit">Unfollow</button>
            {% else %}
              <button class='btn btn-lg btn-light follow' id="follow" type="submit">Follow</button>
            {% endif %}
          </div>
        </div>
      </div>
    {% endif %}
  {% endfor %}
{% endblock content %}