{% extends "general/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class = "container">
    <div class = "row">
        <div class = "col-md-8 col-lg-8">
            <div class="content-section">
                <form method="POST">
                    {% csrf_token %}
                    <fieldset class="form-group">
                        <legend class="border-bottom mb-4 log-in">Log In</legend>
                        {{ form|crispy }}
                    </fieldset>
                    <div class="form-group">
                        <button class="btn btn" style="background-color:#9370DB;color:white;" type="submit">Log in</button>
                        <small class="text-muted ml-2">
                            <a href="{% url 'password_reset' %}">Forgot Password?</a>
                        </small>
                    </div>
                </form>
                <div class="border-top pt-3">
                    <small class="text-muted">
                        Need an account? <a class="ml-2" href="{% url 'register' %}">Sign up</a>
                    </small>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}