{% extends "general/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="card" style=" background-image: url('https://i.ibb.co/cYh34cn/1.jpg'); align-content: center;
 text-align: center;padding-top: 20px;">
      <img class = "rounded-circle" src="{{ user.profile.image.url }}" alt="UserImage" style=" width:200px; height: 200px; display: block; 
      margin: 0 auto; margin-bottom: 20px;">
      <h1 class="username" style="text-transform: uppercase; text-shadow: 0px 3px 0px rgba(0,0,0,0.2);font-family: URW Chancery L, cursive;
      color: #9370DB;">{{ user.username }}</h1>
      <p style="text-shadow: 2px 4px 3px rgba(0,0,0,0.3) font-size: 16px;font-family: URW Chancery L, cursive;
      color: #9370DB;" class="description">{{ user.profile.description }}</p>
      <p style="text-shadow: 2px 4px 3px rgba(0,0,0,0.3) font-size: 16px;
      font-family: URW Chancery L, cursive; color: #9370DB;" class="description">{{ user.profile.city }}</p><hr style="border: 0; height: 1px;
      background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));">
      <p style="text-shadow: 2px 4px 3px rgba(0,0,0,0.3) font-size: 16px;
      font-family: URW Chancery L, cursive; color: #9370DB;" class="description" class = "text-secondary">Skills: {{ user.profile.skills }}</p>
      <p style="text-shadow: 2px 4px 3px rgba(0,0,0,0.3) font-size: 16px; font-family: URW Chancery L, cursive;color: #9370DB;" class="description" class = "text-secondary">Date of birth: {{ user.profile.date_birth|date:"F d, Y"}} </p>
      <hr style="border: 0; height: 1px;
       background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));">
      <form method="post">
      <p><input type="button" name = "sbr" value="Follow" class='btn btn-md' id="subscribeButton" onclick="location.href='{% url 'update_status' pk=user.id %}'" style="background-color:  #9370DB;color:white;"></p>
      </form>
       {% for follower in followers %}
       {% if follower.follower.id == request.user.id and follower.following.id == user.id %}
       <script>
            function subscribeBtn(){
            var subscribeButton = document.getElementById("subscribeButton");
            subscribeButton.value = "Unfollow";
            }
            subscribeBtn();
        </script>
       {% endif %}
       {% endfor %}
    </div>
{% endblock content %}

